/* Colors */
$black: #191919
$dark: #1E1E1E
$dark-light: #2C2C2C
$white: #fefefe
// Themes
$neutral: #eee
$primary: #f00
$secondary: gold

$colors: (primary: $primary, secondary: $secondary)
$list: primary secondary

/* Sizes */
$bottom-size: 6rem
$sidebar-size: 250px


/* Fonts */
$font: 'Roboto', sans-serif;
